<div class="info">
<ul>
    <li>wind: <span id='windSpeed'>6</span>mph</li>
    <li>humidty: <span id='humidty'>21</span>%</li>
    <li>visibilty: <span id='visibilty'>10</span>+mi</li>
    <li>pressure: <span id='pressure'>1012</span>mb</li>
</ul> 
</div>