<div class="main">
<div class="media">
  {{!-- <img src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" 
  class="mr-3 statImg" alt="..." id='stateImg'> --}}
  <div class="media-body">
    <h5 class="mt-0"><span id='temp'>62</span>&#176;<span id='desc'>sunny</span></h5>
    <p class='temp'>feels like: <span id='feelsLike' >63</span>&#176;  
    low: <span id='tempLow'>46</span>&#176;  
    high: <span id='tempHigh'>63</span>&#176;</p> 
  </div>
</div>
</div>